* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --primary-color: #980000;
    --secondary-color: #009800;
}

body {
    width: 80vw;
    min-height: 100vh;
    margin: auto;
    border: solid 3px black;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    body {
        width: 100vw;
    }
}

